{% extends "base.html" %}

{% block title %}Home - My Flask App{% endblock %}

{% block content %}

<section class="page-section portfolio" id="portfolio">
    <div class="container mt-5">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            {% if coach_available %}
                {% for coach in coach_available %}
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto">
                            <a href="{{ url_for('seat_info.seats', booking_id=booking_id, coach_number=coach.coach_number) }}" style="text-decoration:none; color:inherit;">
                                <div class="card btn btn-outline-primary text-start d-flex align-items-center justify-content-center h-100 w-100" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ coach.train_number }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Coach {{ coach.coach_number }}</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No coach available.</p>
            {% endif %}
        </div>
    </div>
</section>


{% endblock %}